@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin transform($transform-property) {
    -webkit-transform: $transform-property;
    -moz-transform: $transform-property;
    -ms-transform: $transform-property;
    -o-transform: $transform-property;
    transform: $transform-property;
}

@mixin center-align {
  position: absolute;
  left: 50%;
  top: 50%;
  @include transform(translate(-50%,-50%));
}

@mixin transition($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}

$primary-color: #6dd0f7; //blue, background
$secondary-color: #ff715b; //orange, pop-up
$secondary-color-fade: #f69687; //faded orange, hover-state
$primary-dark-gray-color: #373737; //dark gray, for backgroud
$text-dark-gray-color: #4e4e4e;// for menu text;

.dashboard-body {
    background-color: #373737;
    padding: 0px 0px 0px 0px;
}

.my-events {
    padding: 0px !important;
    .city-image {
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;
        img {
            position: absolute;
            left: 50%;
            top: 50%;
            height: 100%;
            width: auto;
            @include transform(translate(-50%,-50%));
        }
    }
    .travel-info {
        @include center-align;
        p {
            text-align: center;
            color: #fff;
            font-family: "Raleway", sans-serif;
            font-weight: 400;
            white-space: nowrap;
            font-size: 1em;
        }
        h4 {
            text-align: center;
            color: #fff;
            font-family: "primary-font", sans-serif;
            font-size: 3em;
            white-space: nowrap;
        }
    }
}

.black-white {
    opacity: 0.7;
}
.black-white:hover {
    
}
.my-event-picture:hover{
    @include transform(scale(1.1));
    z-index: 999;
}