@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin transition($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}
@mixin transform($transform-property) {
    -webkit-transform: $transform-property;
    -moz-transform: $transform-property;
    -ms-transform: $transform-property;
    -o-transform: $transform-property;
    transform: $transform-property;
}

$primary-color: #6dd0f7; //blue, background
$secondary-color: #ff715b; //orange, pop-up
$secondary-color-fade: #e74c39; //darker orange, hover-state


#hamburger-menu{
	position: inline-block;
	background-color: $primary-color;
	height:150px;
	ul{

		text-align: center;
		padding-top: 10px;
		margin-top: 10px; 
		border: none;
		font-family: 'Raleway', sans-serif;
		font-size: 16px;
		font-weight: 300;
		li{
			padding-bottom: 20px;

		}
		a {
			color:$primary-color;
		}
	}
}

#explore-button-mobile{
	display: none;

}

.hamburger-icon{
	margin-top:15px;
	margin-left:20px;



}
.hamburger-list{
	display: none;
}

.hamburger-logo-container{

		height: 50px;
			text-align: center;
			margin-top: 10px;
		img {
			height: 100%;
			width: auto;
		}

}

.home-page-header-logo{
		float:left;
		font-size: 45px;
		margin-left: 3%;
		color: #fff;
		background-color: transparent;
		font-family: primary-font;

		}

.home-page-header{
	// background: url(../img/homepage_b.jpg);
	background-color: $primary-color;
	background-size: cover;
	background-position: center center;
	width: 100%;
	height: 500px;
	padding: 10px 0 0 0;
	font-family: 'Raleway', sans-serif;

	
	.home-page-header-text{
		color: #fff;
		float: right;
		padding: 0 30px 0 0;

		button {
			background-color: transparent;
			font-size: 16px;
			font-weight: 300;

			@include transition(all, 0.2s, ease-in-out);
		}
		button:hover {
			color: $secondary-color;
		}


	}
	// #explore-button{
	// 	background-color: $secondary-color;
	// 	border: none;
	// 	font-size: 13px;
	// 	font-weight: 500;
	// 	}
	// #explore-button:hover{
	// 	color: #fff;
	// 	background-color: $secondary-color-fade;
	// }
	.home-page-header-bird{
		width: 150px;
		height: 150px;
		// content: url(../img/triplr-logo.png);
		// background-image: url('../img/triplr-logo.png');
		margin-right: auto;
		margin-left: auto;
		margin-top: 50px;
		z-index: 99;
		display: block;
		background-image: url("../img/triplr-logo.png");
		background-size: 160px;
		background-repeat: no-repeat;
		
	}


	#home-page-header-title{
		color: #fff;
		text-align: center;
		// @include vertical-align;
		margin-top: 40px;
		font-family: 'Raleway', sans-serif;
		font-weight: 700;
		font-size: 40px;
	}
	#home-page-header-subtitle{
		color: #fff;
		text-align: center;
		// @include vertical-align;
		margin-top: 1%;
		font-family: 'Raleway', sans-serif;
		font-weight: 300;
		font-size: 20px;
	}



	.create-schedule-button{
		// margin: 20px 0;
		background-color: $secondary-color;
		border: none;
		font-family: 'Raleway', sans-serif;
		text-align: center;
		margin-top: 40px;
		margin-left: auto;
		margin-right: auto;
		padding-left: 50px;
		padding-right: 50px;
		display:block;

	}
	.create-schedule-button:hover{
		background-color: $secondary-color-fade; 
		}




}
	.not-home-page{
		display: none;
	}


	#search-location{
		width:40%;
		margin-left: auto;
		margin-right: auto;
		margin-top: 60px;
		input{
			// border-radius: 2px;
			border-radius: 0;
			border: 1px solid #d2d8d8;
			box-shadow: 0;
			-webkit-appearance: none;
			-moz-appearance: none;
			-ms-appearance: none;
			-o-appearance: none;
			appearance: none;
			height: 40px;
		}
		input:focus{
			border-color: #343642;
			box-shadow: 0 0 5px rgba(52, 54, 66, 0.1);
			outline: none;
		}

		select{
			border-radius: 0px;
			border-radius: 0;
			border: 1px solid #d2d8d8 !important;
			box-shadow: 0;
			-webkit-appearance: none;
			-moz-appearance: none;
			-ms-appearance: none;
			-o-appearance: none;
			appearance: none;
			height: 40px;
		}
		option {
			line-height: 18px;
		}

		select:focus {
			border-color: #343642;
  			box-shadow: 0 0 5px rgba(52, 54, 66, 0.1);
  			outline: none;
		}

		button{
			background-color: $secondary-color;
			color: #fff;
			border: none;
			border-radius: 0px;
			height: 40px;
			@include transition(all, 0.2s, ease-in-out);
		}
		button:hover{
			background-color: $secondary-color-fade; 
		}
		
	}


@media screen and (min-width: 769px){

	#hamburger-menu{
		display:none;
	}

}


@media screen and (max-width: 1000px){
	.my-events{
		width:25%;
		// float:left;
		height: 25vw !important;
	}

	#search-location{
		width:60%;
	}
}
@media screen and (max-width: 768px){ //tablet view
		#menu-bar{   
			display:none;
			}
		.home-page-header{

		height: 450px;
			.home-page-header-bird{
			margin-right: auto;
			margin-left: auto;
			background-size: 120px;
			background-position: center;
			}

			#home-page-header-title{
			font-size: 30px;
			margin-top: 0px;
			}
		}

		.my-events{
			width:50%;
			height: 50vw !important;
		}
		#explore-button-mobile{
			display: block;
			float: right;
			margin-top: 30px;
	}
}

@media screen and (max-width: 420px){
	
	#menu-bar{
	display:none;
	}

	.hamburger-menu-bar{
		width:100%;
	}

	#hamburger-menu{
	height: 70px;
	}
	
	// #explore-button-mobile{
	// display: block;
	// float: right;
	// margin-top: 30px;
	// margin-right: 30px;

		
	// }
	
	.home-page-header{
		height: 350px;

	

		.home-page-header-bird{
		margin-top: 0px;
		}
	}


	.my-events{
		width:100%;
		height: 100vw !important;
		float:left;
	}

	input::-webkit-input-placeholder {
	color: rgba(0,5,143,.5);
	text-transform: uppercase;
	}
	input::-moz-placeholder {
		color: rgba(0,5,143,.5);
		text-transform: uppercase;
	}
	input:-moz-placeholder {   /* Older versions of Firefox */
		color: rgba(0,5,143,.5);
		text-transform: uppercase;
	}
	input:-ms-input-placeholder { 
		color: rgba(0,5,143,.5);
		text-transform: uppercase;
	}

}



		