@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin transition($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}
@mixin transform($transform-property) {
    -webkit-transform: $transform-property;
    -moz-transform: $transform-property;
    -ms-transform: $transform-property;
    -o-transform: $transform-property;
    transform: $transform-property;
}

$primary-color: #6dd0f7; //blue, background
$secondary-color: #ff715b; //orange, pop-up
$secondary-color-fade: #f69687; //faded orange, hover-state

.home-page-header-logo{
		float:left;
		font-size: 30px;
		color: #fff;
		background-color: transparent;
		// padding: 0 30px 0 0;

		}

.home-page-header{
	// background: url(../img/homepage_b.jpg);
	background-color: $primary-color;
	background-size: cover;
	background-position: center center;
	width: 100%;
	height: 500px;
	padding: 10px 0 0 0;

	
	.home-page-header-text{
		color: #fff;
		float: right;
		padding: 0 30px 0 0;
		button {
			background-color: transparent;
			font-size: 18px;
			font-weight: 600;
			@include transition(all, 0.2s, ease-in-out);
		}
		button:hover {
			color: $secondary-color;
		}

		// .home-page-header-logo{
		// // margin-left: 0%;	
		// font-size: 30px;
		// color: #fff;
		// background-color: transparent;
		// // float:right;
		// // padding: 0 30px 0 0;

		// }


	}
	.home-page-header-bird{
		width:150px;
		height: 150px;
		content: url(../img/triplr-logo.png);
		background-image: url(../img/triplr-logo.png);
		margin-right: auto;
		margin-left: auto;
		z-index: 99;
		display: block;
	}

	// .home-page-header-bird:after {
	// 	width: 150px;
	// 	height: 150px;
	// 	content: url(../img/triplr-logo.png);
	// 	margin-right: auto;
	// 	margin-left: auto;
	// 	z-index: 99;
	// 	display: block;
	// }

	.home-page-header-title{
		color: #fff;
		text-align: center;
		@include vertical-align;
	}
	.create-schedule-button{
		margin: 20px 0;
		background-color: $secondary-color;
		border: none;

	}
	.create-schedule-button:hover{
		background-color: $secondary-color-fade; 
		}
}

.home-page-events {
	.events {
		height: 20vw;
		padding: 0px;
		@include transition(all, 0.3s, ease-in-out);
	}
	.events:hover{
		// transform: scale(1.1);
		@include transform(scale(1.1));
		z-index: 999;
	}
}