@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin transition($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}
@mixin transform($transform-property) {
    -webkit-transform: $transform-property;
    -moz-transform: $transform-property;
    -ms-transform: $transform-property;
    -o-transform: $transform-property;
    transform: $transform-property;
}

$primary-color: #6dd0f7; //blue, background
$secondary-color: #ff715b; //orange, pop-up
$secondary-color-fade: #e74c39; //darker orange, hover-state


.home-page-header-logo{
		float:left;
		font-size: 45px;
		margin-left: 3%;
		color: #fff;
		background-color: transparent;
		font-family: primary-font;

		}

.home-page-header{
	// background: url(../img/homepage_b.jpg);
	background-color: $primary-color;
	background-size: cover;
	background-position: center center;
	width: 100%;
	height: 500px;
	padding: 10px 0 0 0;
	font-family: 'Raleway', sans-serif;

	
	.home-page-header-text{
		color: #fff;
		float: right;
		padding: 0 30px 0 0;

		button {
			background-color: transparent;
			font-size: 16px;
			font-weight: 300;

			@include transition(all, 0.2s, ease-in-out);
		}
		button:hover {
			color: $secondary-color;
		}


	}
	// #explore-button{
	// 	background-color: $secondary-color;
	// 	border: none;
	// 	font-size: 13px;
	// 	font-weight: 500;
	// 	}
	// #explore-button:hover{
	// 	color: #fff;
	// 	background-color: $secondary-color-fade;
	// }
	.home-page-header-bird{
		width: 150px;
		height: 150px;
		// content: url(../img/triplr-logo.png);
		// background-image: url('../img/triplr-logo.png');
		margin-right: auto;
		margin-left: auto;
		margin-top: 50px;
		z-index: 99;
		display: block;
		background-image: url("../img/triplr-logo.png");
		background-size: 160px;
		background-repeat: no-repeat;
		
	}


	#home-page-header-title{
		color: #fff;
		text-align: center;
		// @include vertical-align;
		margin-top: 40px;
		font-family: 'Raleway', sans-serif;
		font-weight: 700;
		font-size: 40px;
	}
	#home-page-header-subtitle{
		color: #fff;
		text-align: center;
		// @include vertical-align;
		margin-top: 1%;
		font-family: 'Raleway', sans-serif;
		font-weight: 300;
		font-size: 20px;
	}



	.create-schedule-button{
		// margin: 20px 0;
		background-color: $secondary-color;
		border: none;
		font-family: 'Raleway', sans-serif;
		text-align: center;
		margin-top: 40px;
		margin-left: auto;
		margin-right: auto;
		padding-left: 50px;
		padding-right: 50px;
		display:block;

	}
	.create-schedule-button:hover{
		background-color: $secondary-color-fade; 
		}




}
	.not-home-page{
		display: none;
	}


	#search-location{
		width:40%;
		margin-left: auto;
		margin-right: auto;
		margin-top: 60px;
		input{
			border-radius: 2px;
		}

		select{
			border-radius: 2px;
			
		}

		button{
			background-color: $secondary-color;
			color: #fff;
			border: none;
			border-radius: 2px;
			@include transition(all, 0.2s, ease-in-out);
		}
		button:hover{
			background-color: $secondary-color-fade; 
		}
		
	}

// .home-page-events {

// .event {

// 			height: 20vw;
// 			padding: 0px;
// 			@include transition(all, 0.3s, ease-in-out);
// 			font-family: primary-font;
// 			font-size: 25px;
// 			font-weight: bold;

// 			background-size: cover; 
// 			display: block;

// 			 -webkit-filter: grayscale(1) brightness(0.8);
//  			 filter: grayscale(1);

 			 
// 			.icon {
// 			height:100%; 
// 			background-image: url(../icon/icon-car.png);
// 			background-size: 30%;
// 			background-repeat:no-repeat;
// 			display: block;
// 			margin-left: auto;
// 			margin-right: auto;
// 			background-position: 50% 35%;
// 			color:#fff;
// 			text-align: center;
// 			vertical-align: middle;
// 			padding-top: 50%;
// 			}
// 		}
// .event:hover{
// 		z-index: 999;
// }

// }


@media screen and (max-width: 1000px){
	.my-events{
		width:33.33%;
		// float:left;
		height: 33.33vw !important;
	}

	#search-location{
		width:60%;
	}
}
@media screen and (max-width: 768px){
		.home-page-header{

			.home-page-header-bird{
			margin-right: auto;
			margin-left: auto;
			background-size: 100px;
			background-position: center;
			}

			#home-page-header-title{
				font-size: 30px;
				margin-top: 0px;
			}

		}
		
		.my-events{
			width:50%;
			height: 50vw !important;
			// float:left;
			// display: inline-block;

		}

}

@media screen and (max-width: 420px){
	.my-events{
		width:100%;
		height: 100vw !important;
		float:left;
	}

}



		