@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin transition($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}
@mixin transform($transform-property) {
    -webkit-transform: $transform-property;
    -moz-transform: $transform-property;
    -ms-transform: $transform-property;
    -o-transform: $transform-property;
    transform: $transform-property;
}

$primary-color: #6dd0f7; //blue, background
$secondary-color: #ff715b; //orange, pop-up
$secondary-color-fade: #f69687; //faded orange, hover-state
$primary-dark-gray-color: #373737; //dark gray, for backgroud
$text-dark-gray-color: #4e4e4e;// for menu text;


.menu-bar {
	width: 100%;
	height: 75px;
	background-color: $primary-color;
	.menu-logo {
		padding: 0 0 0 30px;
		height: 60px;
    	float: left;
		@include vertical-align;
		img {
			height: 100%;
			width: auto;
		}
	}
	.menu-welcome-back-text {
		padding: 15px 30px 0 0px;
		font-family: 'Raleway', sans-serif;
		font-weight: 500;
		float: right;
		font-size: 1.1em;
		color: $text-dark-gray-color;
		@include vertical-align;
	}
	.menu-account {
		padding: 0 30px 0 0;
		float: right;
		height: 25px;
		@include vertical-align;
		img {
			height: 100%;
			width: auto;
		}
	}
	.menu-explore {
		padding: 0 30px 0 0;
		float: right;
		height: 25px;
		@include vertical-align;
	}
	.menu-explore-button{
		background-color: $secondary-color;
		border: none;
		color: #fff;
		border-radius: 0px;
		font-size: 13px;
		font-weight: 500;
		@include vertical-align;
		@include transition(all, 0.2s, ease-in-out);
		}
	.menu-explore-button:hover{
		color: #fff;
		background-color: $secondary-color-fade;
	}
}