/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

@import "home-page.css";

@import "dashboard-page.css";

@import "menu-bar.css";

@import "schedule-page.css";

@import "lib/jquery.ui.min.css";

.clear {
	clear: both;
}

.row {
	margin: 0px !important;
}