/* line 38, ../sass/dashboard-page.scss */
.dashboard-body {
  background-color: #373737;
  margin: 60px 0px 0px 0px;
}

/* line 43, ../sass/dashboard-page.scss */
.trips-planning {
  position: absolute;
  top: 0;
  z-index: 99;
}
/* line 47, ../sass/dashboard-page.scss */
.trips-planning p {
  color: #6dd0f7;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 1.2em;
  padding: 0 0 15px 0;
}
/* line 54, ../sass/dashboard-page.scss */
.trips-planning .trips-planning-timeline {
  background-color: #6dd0f7;
  width: 1px;
  height: 1px;
}

/* line 61, ../sass/dashboard-page.scss */
.trips-gone {
  position: absolute;
  top: 0;
  z-index: 99;
}
/* line 65, ../sass/dashboard-page.scss */
.trips-gone p {
  color: #6dd0f7;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 1.2em;
  padding: 0 0 15px 0;
}
/* line 72, ../sass/dashboard-page.scss */
.trips-gone .trips-gone-timeline {
  background-color: #6dd0f7;
  width: 1px;
  height: 1px;
}

/* line 79, ../sass/dashboard-page.scss */
.my-events {
  padding: 0px !important;
}
/* line 81, ../sass/dashboard-page.scss */
.my-events .city-image {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
/* line 86, ../sass/dashboard-page.scss */
.my-events .city-image img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* line 95, ../sass/dashboard-page.scss */
.my-events .travel-info {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* line 97, ../sass/dashboard-page.scss */
.my-events .travel-info p {
  text-align: center;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  white-space: nowrap;
  font-size: 1em;
}
/* line 105, ../sass/dashboard-page.scss */
.my-events .travel-info h4 {
  text-align: center;
  padding-top: 8px;
  color: #fff;
  font-family: "primary-font", sans-serif;
  font-size: 2em;
  white-space: nowrap;
}

/* line 117, ../sass/dashboard-page.scss */
.black-white img {
  -webkit-filter: grayscale(1) brightness(0.6);
  filter: grayscale(1) brightness(0.6);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

/* line 125, ../sass/dashboard-page.scss */
.black-white:hover img {
  -webkit-filter: grayscale(0) brightness(0.9);
  filter: grayscale(0) brightness(0.9);
}
