/* line 38, ../sass/dashboard-page.scss */
.dashboard-body {
  background-color: #373737;
  padding: 0px 0px 0px 0px;
}

/* line 43, ../sass/dashboard-page.scss */
.my-events {
  padding: 0px !important;
}
/* line 45, ../sass/dashboard-page.scss */
.my-events .city-image {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
/* line 50, ../sass/dashboard-page.scss */
.my-events .city-image img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* line 59, ../sass/dashboard-page.scss */
.my-events .travel-info {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* line 61, ../sass/dashboard-page.scss */
.my-events .travel-info p {
  text-align: center;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  white-space: nowrap;
  font-size: 1em;
}
/* line 69, ../sass/dashboard-page.scss */
.my-events .travel-info h4 {
  text-align: center;
  color: #fff;
  font-family: "primary-font", sans-serif;
  font-size: 3em;
  white-space: nowrap;
}

/* line 79, ../sass/dashboard-page.scss */
.black-white {
  opacity: 0.7;
}

/* line 85, ../sass/dashboard-page.scss */
.my-event-picture:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
  z-index: 999;
}
