/* line 38, ../sass/dashboard-page.scss */
.dashboard-body {
  background-color: #373737;
  margin: 60px 0px 0px 0px;
}

/* line 43, ../sass/dashboard-page.scss */
.trips-year {
  position: absolute;
  top: 0;
  z-index: 10;
}
/* line 48, ../sass/dashboard-page.scss */
.trips-year p {
  color: #6dd0f7;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 1.2em;
  padding: 0 0 15px 0;
}
/* line 55, ../sass/dashboard-page.scss */
.trips-year .trips-year-timeline {
  background-color: #6dd0f7;
  width: 1px;
  height: 1px;
}

/* line 62, ../sass/dashboard-page.scss */
.my-events {
  padding: 0px !important;
  height: 25vw;
  cursor: pointer;
}
/* line 66, ../sass/dashboard-page.scss */
.my-events .city-image {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
/* line 71, ../sass/dashboard-page.scss */
.my-events .city-image img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* line 80, ../sass/dashboard-page.scss */
.my-events .travel-info {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* line 82, ../sass/dashboard-page.scss */
.my-events .travel-info p {
  text-align: center;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  white-space: nowrap;
  font-size: 1em;
}
/* line 90, ../sass/dashboard-page.scss */
.my-events .travel-info h4 {
  text-align: center;
  padding-top: 8px;
  color: #fff;
  font-family: "primary-font", sans-serif;
  font-size: 2em;
  white-space: nowrap;
}
/* line 99, ../sass/dashboard-page.scss */
.my-events .home-icon {
  color: #fff;
  text-align: center;
  vertical-align: middle;
}
/* line 104, ../sass/dashboard-page.scss */
.my-events .home-icon img {
  position: absolute;
  left: 50%;
  top: 45%;
  max-width: 28%;
  max-height: 28%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* line 114, ../sass/dashboard-page.scss */
.my-events .home-info {
  position: absolute;
  left: 50%;
  top: 68%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* line 120, ../sass/dashboard-page.scss */
.my-events .home-info p {
  text-align: center;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  white-space: nowrap;
  font-size: 1em;
}
/* line 128, ../sass/dashboard-page.scss */
.my-events .home-info h4 {
  text-align: center;
  padding-top: 8px;
  color: #fff;
  font-family: "primary-font", sans-serif;
  font-size: 2em;
  white-space: nowrap;
}

/* line 141, ../sass/dashboard-page.scss */
#menu-dropdown button {
  color: #fff;
  border: none;
  font-family: 'Raleway', sans-serif;
  background-color: transparent;
  font-size: 16px;
  font-weight: 300;
}
/* line 150, ../sass/dashboard-page.scss */
#menu-dropdown ul {
  margin-top: 10px;
  border: none;
  background-color: #6dd0f7;
  color: #4e4e4e;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 300;
  border-radius: 2px;
}

/* line 165, ../sass/dashboard-page.scss */
.black-white img {
  -webkit-filter: grayscale(1) brightness(0.7);
  filter: grayscale(1) brightness(0.7);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

/* line 173, ../sass/dashboard-page.scss */
.black-white:hover img {
  -webkit-filter: grayscale(0) brightness(0.8);
  filter: grayscale(0) brightness(0.8);
}

/* line 180, ../sass/dashboard-page.scss */
.half-black-white img {
  -webkit-filter: grayscale(0.4) brightness(0.8);
  filter: grayscale(0.4) brightness(0.8);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

/* line 188, ../sass/dashboard-page.scss */
.half-black-white:hover img {
  -webkit-filter: grayscale(0) brightness(0.9);
  filter: grayscale(0) brightness(0.9);
}

@media screen and (max-width: 768px) {
  /* line 197, ../sass/dashboard-page.scss */
  #dashboard-menu-bar {
    display: none;
  }

  /* line 201, ../sass/dashboard-page.scss */
  .dashboard-body {
    margin: 0;
  }

  /* line 205, ../sass/dashboard-page.scss */
  #hamburger-menu {
    height: 80px;
  }
}
