/* line 24, ../sass/home-page.scss */
.home-page-header {
  background: url(../img/homepage_b.jpg);
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 700px;
  padding: 10px 0 0 0;
}
/* line 31, ../sass/home-page.scss */
.home-page-header .home-page-header-text {
  color: #fff;
  float: right;
  padding: 0 30px 0 0;
}
/* line 35, ../sass/home-page.scss */
.home-page-header .home-page-header-text button {
  background-color: transparent;
  font-size: 18px;
  font-weight: 600;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 41, ../sass/home-page.scss */
.home-page-header .home-page-header-text button:hover {
  color: #aaa;
}
/* line 45, ../sass/home-page.scss */
.home-page-header .home-page-header-title {
  color: #fff;
  text-align: center;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 50, ../sass/home-page.scss */
.home-page-header .create-schedule-button {
  margin: 20px 0;
}

/* line 56, ../sass/home-page.scss */
.home-page-events .events {
  height: 20vw;
  padding: 0px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 61, ../sass/home-page.scss */
.home-page-events .events:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
  z-index: 999;
}
