/* line 29, ../sass/home-page.scss */
#hamburger-menu {
  position: inline-block;
  background-color: #6dd0f7;
  height: 150px;
}
/* line 36, ../sass/home-page.scss */
#hamburger-menu ul {
  text-align: center;
  padding-top: 10px;
  margin-top: 10px;
  border: none;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 300;
}
/* line 45, ../sass/home-page.scss */
#hamburger-menu ul li {
  padding-bottom: 20px;
}
/* line 49, ../sass/home-page.scss */
#hamburger-menu ul a {
  color: #6dd0f7;
}

/* line 55, ../sass/home-page.scss */
#explore-button-mobile {
  display: none;
}

/* line 60, ../sass/home-page.scss */
.hamburger-icon {
  margin-top: 15px;
  margin-left: 30px;
}

/* line 67, ../sass/home-page.scss */
.hamburger-list {
  display: none;
}

/* line 71, ../sass/home-page.scss */
.hamburger-logo {
  display: inline-block;
  height: 50px;
  text-align: center;
}
/* line 80, ../sass/home-page.scss */
.hamburger-logo img {
  height: 100%;
  width: auto;
}

/* line 87, ../sass/home-page.scss */
.home-page-header-logo {
  float: left;
  font-size: 45px;
  margin-left: 3%;
  color: #fff;
  background-color: transparent;
  font-family: primary-font;
}

/* line 97, ../sass/home-page.scss */
.home-page-header {
  background-color: #6dd0f7;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 500px;
  padding: 10px 0 0 0;
  font-family: 'Raleway', sans-serif;
}
/* line 108, ../sass/home-page.scss */
.home-page-header .home-page-header-text {
  color: #fff;
  float: right;
  padding: 0 30px 0 0;
}
/* line 113, ../sass/home-page.scss */
.home-page-header .home-page-header-text button {
  background-color: transparent;
  font-size: 16px;
  font-weight: 300;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 120, ../sass/home-page.scss */
.home-page-header .home-page-header-text button:hover {
  color: #ff715b;
}
/* line 136, ../sass/home-page.scss */
.home-page-header .home-page-header-bird {
  width: 150px;
  height: 150px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  z-index: 99;
  display: block;
  background-image: url("../img/triplr-logo.png");
  background-size: 160px;
  background-repeat: no-repeat;
}
/* line 153, ../sass/home-page.scss */
.home-page-header #home-page-header-title {
  color: #fff;
  text-align: center;
  margin-top: 40px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 40px;
}
/* line 162, ../sass/home-page.scss */
.home-page-header #home-page-header-subtitle {
  color: #fff;
  text-align: center;
  margin-top: 1%;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 20px;
}
/* line 174, ../sass/home-page.scss */
.home-page-header .create-schedule-button {
  background-color: #ff715b;
  border: none;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
  display: block;
}
/* line 188, ../sass/home-page.scss */
.home-page-header .create-schedule-button:hover {
  background-color: #e74c39;
}

/* line 196, ../sass/home-page.scss */
.not-home-page {
  display: none;
}

/* line 201, ../sass/home-page.scss */
#search-location {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
}
/* line 206, ../sass/home-page.scss */
#search-location input {
  border-radius: 2px;
}
/* line 210, ../sass/home-page.scss */
#search-location select {
  border-radius: 2px;
}
/* line 215, ../sass/home-page.scss */
#search-location button {
  background-color: #ff715b;
  color: #fff;
  border: none;
  border-radius: 2px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 222, ../sass/home-page.scss */
#search-location button:hover {
  background-color: #e74c39;
}

@media screen and (max-width: 1000px) {
  /* line 233, ../sass/home-page.scss */
  .my-events {
    width: 33.33%;
    height: 33.33vw !important;
  }

  /* line 239, ../sass/home-page.scss */
  #search-location {
    width: 60%;
  }
}
@media screen and (max-width: 768px) {
  /* line 244, ../sass/home-page.scss */
  #menu-bar {
    display: none;
  }

  /* line 249, ../sass/home-page.scss */
  .home-page-header .home-page-header-bird {
    margin-right: auto;
    margin-left: auto;
    background-size: 120px;
    background-position: center;
  }
  /* line 256, ../sass/home-page.scss */
  .home-page-header #home-page-header-title {
    font-size: 30px;
    margin-top: 0px;
  }

  /* line 262, ../sass/home-page.scss */
  .home-page-header {
    height: 450px;
  }

  /* line 266, ../sass/home-page.scss */
  .my-events {
    width: 50%;
    height: 50vw !important;
  }

  /* line 272, ../sass/home-page.scss */
  #explore-button-mobile {
    display: block;
    float: right;
    margin-top: 30px;
    margin-right: 30px;
  }
}
@media screen and (max-width: 420px) {
  /* line 284, ../sass/home-page.scss */
  #menu-bar {
    display: none;
  }

  /* line 288, ../sass/home-page.scss */
  .hamburger-menu-bar {
    width: 100%;
  }

  /* line 292, ../sass/home-page.scss */
  #hamburger-menu {
    height: 100px;
  }

  /* line 305, ../sass/home-page.scss */
  .home-page-header {
    height: 350px;
  }
  /* line 310, ../sass/home-page.scss */
  .home-page-header .home-page-header-bird {
    margin-top: 0px;
  }

  /* line 316, ../sass/home-page.scss */
  .my-events {
    width: 100%;
    height: 100vw !important;
    float: left;
  }

  /* line 322, ../sass/home-page.scss */
  input::-webkit-input-placeholder {
    color: rgba(0, 5, 143, 0.5);
    text-transform: uppercase;
  }

  /* line 326, ../sass/home-page.scss */
  input::-moz-placeholder {
    color: rgba(0, 5, 143, 0.5);
    text-transform: uppercase;
  }

  /* line 330, ../sass/home-page.scss */
  input:-moz-placeholder {
    /* Older versions of Firefox */
    color: rgba(0, 5, 143, 0.5);
    text-transform: uppercase;
  }

  /* line 334, ../sass/home-page.scss */
  input:-ms-input-placeholder {
    color: rgba(0, 5, 143, 0.5);
    text-transform: uppercase;
  }
}
