@import url(http://fonts.googleapis.com/css?family=Raleway:300,700,500);
@font-face {
  font-family: primary-font;
  src: url(../font/journal.ttf);
}
/* line 36, ../sass/home-page.scss */
.home-page-header-logo {
  float: left;
  font-size: 45px;
  margin-left: 3%;
  color: #fff;
  background-color: transparent;
  font-family: primary-font;
}

/* line 46, ../sass/home-page.scss */
.home-page-header {
  background-color: #6dd0f7;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 500px;
  padding: 10px 0 0 0;
  font-family: 'Raleway', sans-serif;
}
/* line 57, ../sass/home-page.scss */
.home-page-header .home-page-header-text {
  color: #fff;
  float: right;
  padding: 0 30px 0 0;
}
/* line 62, ../sass/home-page.scss */
.home-page-header .home-page-header-text button {
  background-color: transparent;
  font-size: 16px;
  font-weight: 300;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 68, ../sass/home-page.scss */
.home-page-header .home-page-header-text button:hover {
  color: #ff715b;
}
/* line 73, ../sass/home-page.scss */
.home-page-header #explore-button {
  background-color: #ff715b;
  border: none;
  font-size: 13px;
  font-weight: 500;
}
/* line 80, ../sass/home-page.scss */
.home-page-header #explore-button:hover {
  color: #fff;
  background-color: #f69687;
}
/* line 84, ../sass/home-page.scss */
.home-page-header .home-page-header-bird {
  width: 150px;
  height: 150px;
  content: url(../img/triplr-logo.png);
  background-image: url("../img/triplr-logo.png");
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  z-index: 99;
  display: block;
}
/* line 106, ../sass/home-page.scss */
.home-page-header #home-page-header-title {
  color: #fff;
  text-align: center;
  margin-top: 40px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 40px;
}
/* line 115, ../sass/home-page.scss */
.home-page-header #home-page-header-subtitle {
  color: #fff;
  text-align: center;
  margin-top: 1%;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 20px;
}
/* line 126, ../sass/home-page.scss */
.home-page-header .create-schedule-button {
  background-color: #ff715b;
  border: none;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
  display: block;
}
/* line 140, ../sass/home-page.scss */
.home-page-header .create-schedule-button:hover {
  background-color: #f69687;
}

/* line 146, ../sass/home-page.scss */
.home-page-events .events {
  height: 20vw;
  padding: 0px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-family: primary-font;
  font-size: 20px;
}
/* line 154, ../sass/home-page.scss */
.home-page-events .events:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
  z-index: 999;
}

/* line 161, ../sass/home-page.scss */
.event {
  background-image: url(../photo/photo-egypt.jpg);
  background-size: cover;
  display: block;
}
/* line 166, ../sass/home-page.scss */
.event .icon {
  height: 100%;
  background-image: url(../icon/icon-car.png);
  background-size: 30%;
  background-repeat: no-repeat;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-position: 50% 35%;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  padding-top: 50%;
}
