/* line 28, ../sass/home-page.scss */
.home-page-header-logo {
  float: left;
  font-size: 30px;
  color: #fff;
  background-color: transparent;
}

/* line 37, ../sass/home-page.scss */
.home-page-header {
  background-color: #6dd0f7;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 500px;
  padding: 10px 0 0 0;
}
/* line 47, ../sass/home-page.scss */
.home-page-header .home-page-header-text {
  color: #fff;
  float: right;
  padding: 0 30px 0 0;
}
/* line 51, ../sass/home-page.scss */
.home-page-header .home-page-header-text button {
  background-color: transparent;
  font-size: 18px;
  font-weight: 600;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 57, ../sass/home-page.scss */
.home-page-header .home-page-header-text button:hover {
  color: #ff715b;
}
/* line 73, ../sass/home-page.scss */
.home-page-header .home-page-header-bird {
  width: 150px;
  height: 150px;
  content: url(../img/triplr-logo.png);
  background-image: url(../img/triplr-logo.png);
  margin-right: auto;
  margin-left: auto;
  z-index: 99;
  display: block;
}
/* line 94, ../sass/home-page.scss */
.home-page-header .home-page-header-title {
  color: #fff;
  text-align: center;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 99, ../sass/home-page.scss */
.home-page-header .create-schedule-button {
  margin: 20px 0;
  background-color: #ff715b;
  border: none;
}
/* line 105, ../sass/home-page.scss */
.home-page-header .create-schedule-button:hover {
  background-color: #f69687;
}

/* line 111, ../sass/home-page.scss */
.home-page-events .events {
  height: 20vw;
  padding: 0px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 116, ../sass/home-page.scss */
.home-page-events .events:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
  z-index: 999;
}
