/* line 38, ../sass/menu-bar.scss */
.menu-bar {
  width: 100%;
  height: 75px;
  background-color: #6dd0f7;
}
/* line 42, ../sass/menu-bar.scss */
.menu-bar .menu-logo {
  padding: 0 0 0 30px;
  height: 60px;
  float: left;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 47, ../sass/menu-bar.scss */
.menu-bar .menu-logo img {
  height: 100%;
  width: auto;
}
/* line 52, ../sass/menu-bar.scss */
.menu-bar .menu-center-text {
  padding: 15px 30px 0 0px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  float: left;
  left: 30%;
  text-align: center;
  text-transform: uppercase;
  width: 20%;
  font-size: 1.5em;
  color: #4e4e4e;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 65, ../sass/menu-bar.scss */
.menu-bar .menu-welcome-back-text {
  padding: 15px 10px 0 0px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  float: right;
  font-size: 1.1em;
  color: #4e4e4e;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 74, ../sass/menu-bar.scss */
.menu-bar .menu-account {
  padding: 0 30px 0 0;
  float: right;
  height: 25px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 79, ../sass/menu-bar.scss */
.menu-bar .menu-account img {
  height: 100%;
  width: auto;
}
/* line 84, ../sass/menu-bar.scss */
.menu-bar .menu-explore {
  padding: 0 30px 0 0;
  float: right;
  height: 25px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 90, ../sass/menu-bar.scss */
.menu-bar .menu-explore-button {
  background-color: #ff715b;
  border: none;
  color: #fff;
  border-radius: 0px;
  font-size: 13px;
  font-weight: 500;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 100, ../sass/menu-bar.scss */
.menu-bar .menu-explore-button:hover {
  color: #fff;
  background-color: #f69687;
}
