/* line 38, ../sass/navigation.scss */
.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  height: 60px;
  background-color: #6dd0f7;
}
/* line 46, ../sass/navigation.scss */
.nav-bar .menu-logo {
  padding: 0 0 0 30px;
  height: 50px;
  float: left;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 51, ../sass/navigation.scss */
.nav-bar .menu-logo img {
  height: 100%;
  width: auto;
}
/* line 56, ../sass/navigation.scss */
.nav-bar .menu-center-text {
  padding: 15px 30px 0 0px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  float: left;
  left: 30%;
  text-align: center;
  text-transform: uppercase;
  width: 20%;
  font-size: 1.5em;
  color: #4e4e4e;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 69, ../sass/navigation.scss */
.nav-bar .menu-welcome-back-text {
  padding: 5px 10px 0 0px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  float: right;
  font-size: 0.9em;
  color: #4e4e4e;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 78, ../sass/navigation.scss */
.nav-bar .menu-account {
  padding: 0 30px 0 0;
  float: right;
  height: 25px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 83, ../sass/navigation.scss */
.nav-bar .menu-account img {
  height: 100%;
  width: auto;
}
/* line 88, ../sass/navigation.scss */
.nav-bar .menu-explore {
  padding: 0 30px 0 0;
  float: right;
  height: 25px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 94, ../sass/navigation.scss */
.nav-bar .menu-explore-button {
  background-color: #ff715b;
  border: none;
  color: #fff;
  border-radius: 0px;
  font-size: 13px;
  font-weight: 500;
  font-family: 'Raleway', sans-serif;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 105, ../sass/navigation.scss */
.nav-bar .menu-explore-button:hover {
  color: #fff;
  background-color: #f69687;
}

/* line 111, ../sass/navigation.scss */
#new-trip {
  height: 80px;
  width: 80px;
  position: fixed;
  border-radius: 50%;
  z-index: 9999;
  background-color: #ff715b;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 119, ../sass/navigation.scss */
#new-trip .new-trip-icon {
  color: #fff;
  font-weight: 100;
  font-size: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* line 126, ../sass/navigation.scss */
#new-trip:hover {
  background-color: #f69687;
}

/* line 130, ../sass/navigation.scss */
.hvr-icon-forward:before {
  content: "\f067";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-family: FontAwesome;
  transform: scale(3);
  transition-duration: 0.1s;
  transition-property: transform;
  transition-timing-function: ease-out;
}
