/* line 40, ../sass/schedule-page.scss */
body {
  background-color: #373737 !important;
}

/* line 44, ../sass/schedule-page.scss */
.schedule-body {
  background-color: #373737;
  padding: 60px 0px 10px 0px;
}

/* line 49, ../sass/schedule-page.scss */
.trip-days-container {
  padding: 20px 0 0 2%;
  width: 76%;
  float: left;
}
/* line 53, ../sass/schedule-page.scss */
.trip-days-container .trip-days-body {
  background-color: #fff;
  height: 680px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 100%;
  padding: 20px 2vw;
}

/* line 63, ../sass/schedule-page.scss */
.trip-days-header {
  border-bottom: 1px solid #959595;
  padding: 0 0 10px 0;
}
/* line 66, ../sass/schedule-page.scss */
.trip-days-header .trip-days-header-title {
  float: left;
}
/* line 68, ../sass/schedule-page.scss */
.trip-days-header .trip-days-header-title h2 {
  font-family: "Raleway", sans-serif;
  font-size: 1.8em;
  font-weight: 600;
  color: #d7d7d7;
}
/* line 75, ../sass/schedule-page.scss */
.trip-days-header .trip-days-header-buttons {
  float: right;
}
/* line 77, ../sass/schedule-page.scss */
.trip-days-header .trip-days-header-buttons button {
  padding: 5px 10px;
  margin: 15px 5px 0px 5px;
  border: none;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 87, ../sass/schedule-page.scss */
.trip-days-header .trip-days-publish {
  background-color: #6dd0f7;
  color: #fff;
}
/* line 91, ../sass/schedule-page.scss */
.trip-days-header .trip-days-save {
  background-color: transparent;
  color: #363636;
}

/* line 97, ../sass/schedule-page.scss */
.trip-days-content {
  padding: 20px 0px 0px 0px;
  overflow-y: scroll;
  height: 580px;
  width: 100%;
}
/* line 102, ../sass/schedule-page.scss */
.trip-days-content .slick-test {
  height: 500px;
}
/* line 105, ../sass/schedule-page.scss */
.trip-days-content .trip-days {
  padding: 0px 1.6vw;
  border-left: 1px solid #959595;
}
/* line 108, ../sass/schedule-page.scss */
.trip-days-content .trip-days h3 {
  padding-bottom: 20px;
  font-family: "primary-font";
  font-size: 2em;
}
/* line 114, ../sass/schedule-page.scss */
.trip-days-content .trip-days img {
  width: 100%;
  height: auto;
  z-index: 99999;
}
/* line 120, ../sass/schedule-page.scss */
.trip-days-content .trip-days:first-child {
  border-left: 1px solid #fff;
}

/* line 125, ../sass/schedule-page.scss */
.trip-days-content::-webkit-scrollbar {
  display: none;
}

/* line 128, ../sass/schedule-page.scss */
.event-spot {
  height: 8vw;
  margin-bottom: 30px;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
/* line 132, ../sass/schedule-page.scss */
.event-spot .place-holder-circle {
  width: 40%;
  height: 100%;
  float: left;
  border-radius: 50%;
  border: 1px dotted #d7d7d7;
}
/* line 138, ../sass/schedule-page.scss */
.event-spot .place-holder-circle p {
  text-align: center;
  font-weight: 500;
  font-size: 0.7em;
  font-family: "Raleway", sans-serif;
  color: #d7d7d7;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 147, ../sass/schedule-page.scss */
.event-spot .place-holder-text {
  width: 50%;
  height: 100%;
  float: left;
}
/* line 151, ../sass/schedule-page.scss */
.event-spot .place-holder-text p {
  text-align: right;
  font-weight: 500;
  font-size: 0.7em;
  font-family: "Raleway", sans-serif;
  color: #d7d7d7;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* line 161, ../sass/schedule-page.scss */
.event-spot:after {
  content: "";
  position: relative;
  display: block;
  height: 31px;
  z-index: 1;
  top: 0;
  left: 20%;
  border-left: 1px dotted #d7d7d7;
}

/* line 174, ../sass/schedule-page.scss */
.event-style {
  height: 8vw;
  margin-bottom: 30px;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
/* line 178, ../sass/schedule-page.scss */
.event-style .event-style-image {
  width: 40%;
  float: left;
}
/* line 181, ../sass/schedule-page.scss */
.event-style .event-style-image img {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 100%;
  height: 100%;
  max-height: 100%;
}
/* line 187, ../sass/schedule-page.scss */
.event-style .event-style-image p {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
  opacity: 0;
  color: #373737;
  font-size: 0.6em;
  font-family: "Raleway", sans-serif;
  margin-bottom: 10px;
  font-weight: 600;
  line-height: 1;
  text-rendering: optimizeLegibility;
}
/* line 201, ../sass/schedule-page.scss */
.event-style .event-style-text {
  width: 60%;
  padding-left: 15px;
  float: left;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 206, ../sass/schedule-page.scss */
.event-style .event-style-text p {
  text-align: left;
  color: #373737;
  font-size: 0.7em;
  font-family: "Raleway", sans-serif;
  margin-bottom: 10px;
  font-weight: 500;
  line-height: 1;
  text-rendering: optimizeLegibility;
}

/* line 219, ../sass/schedule-page.scss */
.event-style:after {
  content: "";
  position: relative;
  display: block;
  height: 33px;
  z-index: 1;
  top: 0;
  left: 20%;
  border-left: 1px dotted #d7d7d7;
}

/* line 232, ../sass/schedule-page.scss */
.event-style-image:hover img {
  -webkit-filter: grayscale(0) brightness(0.4);
  filter: grayscale(0) brightness(0.5);
}
/* line 236, ../sass/schedule-page.scss */
.event-style-image:hover p {
  opacity: 1;
}

/* line 241, ../sass/schedule-page.scss */
.trip-events-container {
  width: 24%;
  float: left;
  overflow: hidden;
}
/* line 245, ../sass/schedule-page.scss */
.trip-events-container .trip-events-section {
  height: 630px;
  width: 100%;
  margin-right: 20px;
  padding: 20px 0px 0px;
  overflow-x: hidden;
  overflow-y: scroll;
}
/* line 252, ../sass/schedule-page.scss */
.trip-events-container .trip-events-section .trip-events-category {
  padding: 0 2vw;
}
/* line 254, ../sass/schedule-page.scss */
.trip-events-container .trip-events-section .trip-events-category h2 {
  padding: 5px 20px;
  font-family: "Raleway", sans-serif;
  font-size: 0.9em;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: underline;
  color: #d7d7d7;
}
/* line 263, ../sass/schedule-page.scss */
.trip-events-container .trip-events-section .trip-events-category .trip-events-detail {
  opacity: 0.4;
  padding: 10px 20px;
}
/* line 266, ../sass/schedule-page.scss */
.trip-events-container .trip-events-section .trip-events-category .trip-events-detail img {
  width: 100%;
  height: auto;
}
/* line 270, ../sass/schedule-page.scss */
.trip-events-container .trip-events-section .trip-events-category .trip-events-detail p {
  font-family: "Raleway", sans-serif;
  font-size: 0.9em;
  font-weight: 300;
  color: #fff;
  text-align: center;
}
/* line 280, ../sass/schedule-page.scss */
.trip-events-container .trip-events-section::-webkit-scrollbar {
  display: none;
}
/* line 283, ../sass/schedule-page.scss */
.trip-events-container .trip-events-footer {
  border-top: 1px solid #d7d7d7;
  margin: 0px 50px;
  height: 50px;
}
/* line 287, ../sass/schedule-page.scss */
.trip-events-container .trip-events-footer #delete-trip {
  float: right;
  margin: 25px 10px 0px 0px;
  width: 25px;
}
/* line 291, ../sass/schedule-page.scss */
.trip-events-container .trip-events-footer #delete-trip img {
  width: 100%;
  height: auto;
}
/* line 296, ../sass/schedule-page.scss */
.trip-events-container .trip-events-footer #mode-switch {
  margin: 30px 0px 0px 0px;
  float: left;
  width: 50%;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 0.8em;
}
/* line 303, ../sass/schedule-page.scss */
.trip-events-container .trip-events-footer #mode-switch span {
  color: #373737 !important;
}

/* line 310, ../sass/schedule-page.scss */
.trip-events-add-container {
  position: relative;
}

/* line 314, ../sass/schedule-page.scss */
.trip-events-add {
  position: relative;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  margin: 10px 0;
  background-color: #d7d7d7;
  height: 0px;
  overflow: hidden;
  width: 100%;
}
/* line 322, ../sass/schedule-page.scss */
.trip-events-add .triangle_1 {
  z-index: 20;
  position: absolute;
  height: 20px;
  width: 30px;
}
/* line 327, ../sass/schedule-page.scss */
.trip-events-add .triangle_1 img {
  width: 100%;
  height: auto;
}
/* line 332, ../sass/schedule-page.scss */
.trip-events-add .triangle_2 {
  z-index: 21;
  position: absolute;
  height: 20px;
  width: 30px;
}
/* line 337, ../sass/schedule-page.scss */
.trip-events-add .triangle_2 img {
  width: 100%;
  height: auto;
}

/* line 343, ../sass/schedule-page.scss */
.trip-events-add-before {
  /* triangle */
  position: absolute;
  left: 30px;
  top: -13px;
  height: 0;
  width: 0;
  z-index: 99;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 13px solid #d7d7d7;
}

/* line 359, ../sass/schedule-page.scss */
.trip-events-add-after {
  /* triangle */
  position: absolute;
  left: 30px;
  bottom: 0px;
  height: 0;
  width: 0;
  z-index: 99;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  border-bottom: 14px solid #373737;
}

/* line 375, ../sass/schedule-page.scss */
.new-form {
  padding: 1.5em 2em 2em 2em;
}

/* line 378, ../sass/schedule-page.scss */
.new-form .fieldset {
  position: relative;
  margin: 0em 0em 0.6em;
}

/* line 382, ../sass/schedule-page.scss */
.new-form .fieldset:first-child {
  margin-top: 0;
}

/* line 385, ../sass/schedule-page.scss */
.new-form .fieldset:last-child {
  margin-bottom: 0;
}

/* line 389, ../sass/schedule-page.scss */
.new-form .input-style {
  margin: 0;
  padding: 0;
  border-radius: 0px;
  background-color: #fff;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 12px;
}

/* line 399, ../sass/schedule-page.scss */
.new-form select {
  height: 36px;
}

/* line 402, ../sass/schedule-page.scss */
.new-form .input-style.full-width {
  width: 100%;
}

/* line 405, ../sass/schedule-page.scss */
.new-form .input-style.has-padding {
  padding: 10px 8px;
}

/* line 408, ../sass/schedule-page.scss */
.new-form .input-style.has-border {
  border: 1px solid #d2d8d8;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

/* line 417, ../sass/schedule-page.scss */
.new-form .input-style.half-border {
  border-top: 1px solid #d2d8d8;
  border-bottom: 1px solid #d2d8d8;
  border-right: 0;
  border-left: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

/* line 429, ../sass/schedule-page.scss */
.new-form .input-style.has-border:focus {
  border-color: #343642;
  box-shadow: 0 0 5px rgba(52, 54, 66, 0.1);
  outline: none;
}

/* line 434, ../sass/schedule-page.scss */
.new-form .input-style.half-border:focus {
  border: 1px solid #343642;
  box-shadow: 0 0 5px rgba(52, 54, 66, 0.1);
  outline: none;
}

/* line 440, ../sass/schedule-page.scss */
.new-form .half-width {
  float: left;
  width: 50%;
}

/* line 445, ../sass/schedule-page.scss */
.new-form .quater-width {
  float: left;
  width: 25%;
}

/* line 450, ../sass/schedule-page.scss */
.new-form .input-style.has-error {
  border: 1px solid #d76666;
}

/* line 453, ../sass/schedule-page.scss */
.new-form input[type=submit] {
  padding: 12px 0;
  cursor: pointer;
  background: #ff715b;
  color: #FFF;
  font-weight: bold;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

/* line 466, ../sass/schedule-page.scss */
.new-form .cd-error-message {
  display: inline-block;
  position: absolute;
  border-radius: 0.25em !important;
  left: -5px;
  bottom: -35px;
  background: rgba(215, 102, 102, 0.9);
  padding: .8em;
  z-index: 400;
  color: #FFF;
  font-family: "Raleway",sans-serif;
  font-size: 12px;
  font-size: 0.8125rem;
  border-radius: 0em;
  /* prevent click and touch events */
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.2s 0, visibility 0 0.2s;
  -moz-transition: opacity 0.2s 0, visibility 0 0.2s;
  transition: opacity 0.2s 0, visibility 0 0.2s;
}

/* line 488, ../sass/schedule-page.scss */
.new-form .cd-error-message::after {
  /* triangle */
  content: '';
  position: absolute;
  left: 22px;
  bottom: 100%;
  height: 0;
  width: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid rgba(215, 102, 102, 0.9);
}

/* line 500, ../sass/schedule-page.scss */
.new-form .cd-error-message.is-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.2s 0, visibility 0 0;
  -moz-transition: opacity 0.2s 0, visibility 0 0;
  transition: opacity 0.2s 0, visibility 0 0;
}

/* line 509, ../sass/schedule-page.scss */
.expandHeight {
  height: 230px !important;
}

/* line 513, ../sass/schedule-page.scss */
.changeOpacity {
  opacity: 1 !important;
}

/* line 517, ../sass/schedule-page.scss */
.noBackground {
  background: none !important;
}

/* line 522, ../sass/schedule-page.scss */
.ui-timepicker-list li {
  font-family: "Raleway", sans-serif;
  color: #d7d7d7;
  font-size: 0.9em;
}

/* line 529, ../sass/schedule-page.scss */
.gray-color-text {
  color: #d7d7d7 !important;
}

/* line 533, ../sass/schedule-page.scss */
.animationAdd {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

@media screen and (max-width: 768px) {
  /* line 542, ../sass/schedule-page.scss */
  .trip-days-container {
    width: 60%;
  }
}
