/* line 39, ../sass/schedule-page.scss */
body {
  background-color: #373737 !important;
}

/* line 43, ../sass/schedule-page.scss */
.schedule-body {
  background-color: #373737;
  padding: 60px 0px 10px 0px;
}

/* line 48, ../sass/schedule-page.scss */
.trip-days-container {
  padding: 20px 0 0 20px;
  width: 70%;
  float: left;
}
/* line 52, ../sass/schedule-page.scss */
.trip-days-container .trip-days-body {
  background-color: #fff;
  height: 680px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 100%;
}

/* line 61, ../sass/schedule-page.scss */
.trip-events-container {
  width: 30%;
  float: left;
}
/* line 64, ../sass/schedule-page.scss */
.trip-events-container .trip-events-section {
  height: 630px;
  width: 100%;
  padding: 20px 0px 0px;
  overflow: scroll;
}
/* line 69, ../sass/schedule-page.scss */
.trip-events-container .trip-events-section .trip-events-category {
  padding: 0 50px;
}
/* line 71, ../sass/schedule-page.scss */
.trip-events-container .trip-events-section .trip-events-category h2 {
  padding: 5px 20px;
  font-family: "Raleway", sans-serif;
  font-size: 0.9em;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: underline;
  color: #d7d7d7;
}
/* line 80, ../sass/schedule-page.scss */
.trip-events-container .trip-events-section .trip-events-category .trip-events-detail {
  opacity: 0.5;
  padding: 10px 20px;
}
/* line 83, ../sass/schedule-page.scss */
.trip-events-container .trip-events-section .trip-events-category .trip-events-detail img {
  width: 100%;
  height: auto;
}
/* line 87, ../sass/schedule-page.scss */
.trip-events-container .trip-events-section .trip-events-category .trip-events-detail p {
  font-family: "Raleway", sans-serif;
  font-size: 0.9em;
  font-weight: 300;
  color: #fff;
  text-align: center;
}
/* line 97, ../sass/schedule-page.scss */
.trip-events-container .trip-events-footer {
  border-top: 1px solid #d7d7d7;
  margin: 0px 50px;
  height: 50px;
}
/* line 102, ../sass/schedule-page.scss */
.trip-events-container .trip-events-add {
  background-color: #d7d7d7;
  height: 230px;
  width: 100%;
}
